            <div class="jheader" >
                <table border="0">
                <tr>
                    <td>
                        <img src="../images/nodejs06e.png" height="36" >
                    </td>
                    <td><div style="font-size: 20pt; margin-left: 20px; margin-right: 20px; color: #BBB;">
                    Internet technologies
                    </div></td>
                    <td><img src="../images/typescript1.svg" height="36" ></td>
                    <td><img src="../images/Async_await_1c.png" height="30" ></td>
                </tr>
                </table>
            </div>


    <nav>
        <div style="margin: 0px;">
            <a class="button blue_dark medium" href="/">Home</a>
            <!-- <a class="button blue medium" href="table">Table</a> -->
            <a class="button blue_dark medium" href="log">Login to Table</a>
            <a class="button blue_dark medium" href="about">About</a>
        </div>
    </nav>
