<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/default.css"/> 
    <link rel="stylesheet" href="../css/style_fold.css"/> 
    <link rel="stylesheet" href="../css/button.css"/> 
    <title>{{zPageTitle}}</title>
</head>
<body>
  {{> navig }}

  <div class="start">

    <div class="main">About page</div>

      <p style="font-size: 12pt;">This app uses:</p>
      <ul>
        <li>Express framework;</li>
        <li>TypeScript language;</li>
        <li>Asynchronous work of the application (async/await);</li>
        <li>Built-in middleware: express.static;</li>
        <li>Partials (layouts) of header, footer</li>
        <li>Hbs template engine;</li>
        <li>Helpers: [#each], [#if];</li>
        <li>Multi-page portal - switching from the menu;</li>
        <li>Request handling: Get, Post</li>
        <li>Folder [disc] of compiled .js files</li>
        <li>Division into files .ts structure in [src] folder:</li>
      </ul>
      
      <p>
          © 2022 JL Site
      </p>

    <br/>

  </div>

  {{> footer}}

</body>
</html>
