@charset "UTF-8";

.fold-table {
    background-color: #8c9fd7;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    vertical-align: inherit;
}

table {
  font-size: 10pt;
}
    table th {
        text-align: left;
        /*border-bottom: 1px solid #ccc; */
    }
    table th, table td {
      padding: 2px 8px;
    }

    table thead {
        background-color: #b0bee5;
    }

table.fold-table > tbody > tr.view {
    background: #EEE;
}

    table.fold-table > tbody > tr.view:hover {
        background: #CCC;
    }


table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
}

table.fold-table > tbody > tr.view td:first-child,
table.fold-table > tbody > tr.view th:first-child {
  position: relative;
  padding-left: 20px;
}

table.fold-table > tbody > tr.view td {
    padding: 2px;
    /* position: relative;
    padding: 2px;
    padding-left: 8px;
    border: 1px solid;
    border-color: #A0A; */
    /*background: #b0b0b0; */
}
